.match-item {
  position: relative;
  font-size: 0;
  &__opponent {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:hover {
      background-color: rgba(83, 142, 210, 0.2);
    }
  }
  &__opponent-name {
    font-size: 18px;
    margin-bottom: 10px;
    transition: .5s ease-out;
  }
  &__opponent-img {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 128px;
    border: 1px solid var(--black);
    margin-bottom: 10px;
  }
  &__opponent-coeff {
    transition: .3s ease;
    font-weight: 700;
  }
  &__versus {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 100%;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
  }
  &__versus-box {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__versus-date {
    margin-bottom: 10px;
  }
  &__versus-vs {
    font-size: 26px;
    margin-bottom: 10px;
  }
}