.admin-bets {
  &__table {
    position: relative;
    margin-bottom: 10px;
    line-height: 26px;
  }
  &__table-header {
    background-color: var(--blue);
    color: #ffffff;
    display: flex;
  }
  &__table-header-item {
    padding: 0 6px;

  }
  &__table-row {
    display: flex;
    &:nth-child(2n + 1) {
      background-color: rgba(83, 142, 210, 0.14);
    }
  }
  &__table-item {
    padding: 0 6px;
    &--user {
      width: 20%;
    }
    &--match {
      width: 60%;
    }
    &--income {
      width: 20%;
    }
  }
}