.header {
  position: relative;
  height: 60px;
  background-color: var(--blue);
  box-shadow: 0 3px 7px rgba(0,0,0, 0.35);
  margin-bottom: 20px;
  z-index: 10;
  &__wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  &__logo {
    font-size: 22px;
    line-height: 60px;
    color: #ffffff;
    float: left;
  }
  &__nav {
    float: right;
    color: #ffffff;
    padding: 14px 0;
    &--logged {
      padding: 0;
      line-height: 60px;
    }
  }
  &__button {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    line-height: 32px;
    transition: .3s ease;
    border-radius: 4px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &--registration {
      margin-right: 10px;
    }
  }
  &__credits-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
  }
  &__credits {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  &__credits-button {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 60px;
    position: relative;
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 18px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      border-radius: 1px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 18px;
      height: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      border-radius: 1px;
    }
  }
  &__user-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  &__user-name {
    position: relative;
    padding: 0 14px 0 0;
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      position: absolute;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      top: 50%;
      right: 0;
    }
  }
  &__user-popup {
    position: absolute;
    width: 100px;
    padding: 4px 0;
    line-height: 24px;
    font-size: 14px;
    background-color: #ffffff;
    top: 50px;
    left: -30px;
    color: var(--black);
    border-radius: 6px;
    box-shadow: 0 1px 7px rgba(0,0,0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: .4s ease;
    transform: translate(0, -20px);
    z-index: 1;
    &--active {
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0);
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      border: 6px solid transparent;
      border-bottom-color: #ffffff;
      right: 16px;
      top: -12px;
    }
  }
  &__user-popup-item {
    position: relative;
    display: block;
    padding: 0 6px;
    cursor: pointer;
    transition: .3s ease;
    &:hover {
      background-color: #e0e0e0;
    }
  }
  &__user-popup-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    &--active {
      display: block;
    }
  }
}